---
apiVersion: v1
kind: Service
metadata:
  name: caorg1
spec:
  selector:
    app: caorg1
  ports:
  - protocol: TCP
    port: 7054
    targetPort: 7054
    name: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: caorg1
  labels: 
    app: caorg1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: caorg1
  template:
    metadata:
      labels:
        app: caorg1
    spec:
      volumes:
      - name: myvolume
        persistentVolumeClaim:
          claimName: filepvc

      containers:
      - name: caorg1
        image: hyperledger/fabric-ca:1.4.0
        command: ["sh", "-c", "sleep 1 && fabric-ca-server start -b admin:adminpw -d"]
        env:
        - name: TZ
          value: "Europe/Istanbul"
        - name: FABRIC_CA_SERVER_CA_NAME
          value: "caorg1"
        - name: FABRIC_CA_SERVER_CA_CERTFILE
          value: /shared/artifacts/crypto-config/peerOrganizations/org1.example.com/ca/ca.org1.example.com-cert.pem
        - name: FABRIC_CA_SERVER_CA_KEYFILE
          #value: /shared/artifacts/crypto-config/peerOrganizations/org1.example.com/ca/7fbbee32f9aad2cd0861b19805ec39a53736a8bc562baacaf96d38b6cc5af5aa_sk
          value: /shared/artifacts/crypto-config/peerOrganizations/org1.example.com/ca/key.pem
        - name: FABRIC_CA_SERVER_DEBUG
          value: "true"
        - name: FABRIC_CA_SERVER_TLS_ENABLED
          value: "false"
        - name: FABRIC_CA_SERVER_TLS_CERTFILE
          value: /certs/ca0a-cert.pem
        - name: FABRIC_CA_SERVER_TLS_KEYFILE
          value: /certs/ca0a-key.pem
        - name: GODEBUG
          value: "netdns=go"
        volumeMounts:
        - mountPath: /shared
          name: myvolume
        ports:
        - containerPort: 7054
---